<!-- This will select a suggested recipe from the list of reicpe-cards -->
<!-- Initially this will be random, but will eventually include some   -->
<!-- kind of artificial selection based on when you last had a certain -->
<!-- meal.                                                             -->
<!-- The calendar also needs to be updated with the selected meal for  -->
<!-- each day, so that it can track and display that information on    -->
<!-- the information for each daily panel                              -->

<recipe-card></recipe-card>
<recipe-card></recipe-card>